/* ================================================ BASE ======================================================== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: #FCF0D6;
  color: #1a1a1a;
  line-height: 1.8;
  font-size: 1.1rem;
  overflow-x: hidden;
}

h1, h2 {
  font-family: "Poppins", serif;
  color: #1f4c67;
  letter-spacing: 0.5px;
  line-height: 1.3;
  font-weight: 700;
}

h1 { font-size: 2.5rem; }

h2 { 
  font-size: 2rem;
  position: relative;
  display: inline-block;
  margin-bottom: 0.5em;
}

p {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}

